p {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.css-1f8sh1y{
    height: 464px !important;
    max-width: 100% !important;
}

.heading {
font-size:x-large;
text-align: center;
margin: 0 !important;
}

.slider-home {
    max-height: 100% !important;
    max-width: 100% !important;
    background-size: auto;
}

.css-1g04gm2-MuiButtonBase-root-MuiIconButton-root{
padding: 0;
margin: 0;
top: 0 !important;
box-shadow: inset 0 0 0 0 transparent;
}

.intro1{
    font-size: large;
    align-items: stretch;
    text-align: justify;
    margin: 0 0 0.5em 0;
}

.recentnewscard{
    font-size: large;
    align-items: stretch;
    text-align: justify;
    ul{
        margin: 0 !important;
        p{
            margin: 0 !important;
        }
    }
}

.recentnewsheader{
    text-align: center;
    font-size: x-large;
    font-weight: 100;
    margin: 0 !important;
}


.intro3 {
    text-align: center;
}

.intro3 p{
    text-align: center;
    margin: 0;
}