p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    align-items: stretch;
    text-align: justify;
}

.slider {
  max-height: 100%;
  max-width: 100%;
}

/*.collapsible {
    background-color: #f5e0e0; 
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .active, .collapsible:hover {
    background-color: #f5cfcf;
  }
  
  .collapsible:after {
    content: '\002B';
    color: black;
    font-size: xx-large;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .expanded {
    background-color: #f5e0e0; 
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .expanded:after {
    content: "\2212";
    color: black;
    font-size: xx-large;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .content {
    padding: 0 18px;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color:white;
    margin-bottom: 5px;
  }*/